// Import Font
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Max Width
$max-width: 57.5rem;

// Colors
// Gradient color
$clr-g-up: hsl(273, 75%, 66%);
$clr-g-down: hsl(240, 73%, 65%);

$clr-primary: hsl(238, 29%, 16%);
$clr-secondary: hsl(14, 88%, 65%);

$clr-neutral-300: hsl(237, 12%, 33%);
$clr-neutral-500: hsl(240, 6%, 50%);

$clr-divider: hsl(240, 5%, 91%);
