body {
	min-height: 100vh;
	background: linear-gradient(to bottom, $clr-g-up, $clr-g-down);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Kumbh Sans', sans-serif;
	line-height: 1.5;
}

.card {
	background-color: hsl(0, 0%, 100%);

	// Card Text
	.card-text {
		padding: 2rem;

		.title {
			font-weight: 700;
			font-size: 2rem;
		}

		// Accordion
		.accordion {
			padding-block: 1rem;
			border-bottom: 1px solid $clr-divider;

			.accordion-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				padding-block: 1rem;
			}

			.accordion-body {
				height: 0;
				overflow: hidden;
				transition: height 0.5s ease;
			}

			.accordion-body.show {
				height: 5rem;
				padding: 0.5rem;
			}

			.accordion-icon {
				transition: transform 0.5s ease;
			}

			.accordion-icon.rotate {
				transform: rotate(180deg);
			}
		}
	}
}
